body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.title{
    font-size: 50px;
}

.name{
    color: orange;
}

.flex-container{
    display: flex;
    margin-bottom: 100px;
}

.header-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 7%;
}

.half-width p{
    text-align: justify;
    padding-right: 5%;
}

.half-width img{
    width: 80%;
    padding-top: 20px;
}

.link-button{
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    color: white;
    border-radius: 5px;
}

.dream-title{
    font-size: 40px;
}

.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.exp-title{
    font-size: 36px;
}

.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}

#exp-item1{
    border-left: 7px solid;
    border-image: linear-gradient(orangered,orange);
    border-image-slice: 1;
}

#exp-item2{
    border-left: 7px solid;
    border-image: linear-gradient(purple,magenta);
    border-image-slice: 1;
}

.personal-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    border-left: 7px solid;
    border-image: linear-gradient(red,yellow);
    border-image-slice: 1;
}

.academic-item{
    box-shadow: 10px 10px 40px gray;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 10px;
    border-left: 5px solid;
}
#academic-item1{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#academic-item2{
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}

#academic-item3{
    border-image: linear-gradient(green, lime);
    border-image-slice: 1;
}

footer{
    margin-top: 200px;
    text-align: center;
}
